*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    margin: 20px auto;
    width: 75vw;
    text-align: center;
}

h2{
    background-color: rgb(228, 194, 214);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
}

input{
    margin-bottom: 10px;
}

.caixa{
    width: 300px;
    height: 100px;
    background-color: rgb(231, 154, 199);
    margin: 20px auto;
}

.btn{
    padding: 5px 10px;
    margin-right: 10px;
}
