*{
    margin: 0;
}


header{
    background-color: #a2c7bb; 
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    color: #320606;
    align-items: center;
}

ul{
    display: flex;
    gap: 50px;
}
#nome-logo{
    margin-left: 15px;
    border: 2px solid #dde29f ;
}
